.footer {
  background: #002748;
  color: #ffffff;
  height: 90px;

  &__container {
    @include centered-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
