.header-nav {
  @include medium-up {
    display: flex;
    align-items: center;
  }

  @include medium-up {
    li {
      margin-left: 35px;
    }
  }

  a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;

    @include medium-up {
      padding-top: 26px;
      padding-bottom: 24px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .github-button-item {
    padding: 10px 0;
  }
}
