.header {
  background: #002748;
  background-image: linear-gradient(90deg, #021E37 0%, #023B6C 100%);
  padding-top: 20px;
  padding-bottom: 20px;

  &__container {
    @include centered-container;
    @include medium-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    height: 32px;
  }
}
