.hero-container {
  @include clearfix;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  box-sizing: border-box;

  &__intro {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: 55px;
    box-sizing: border-box;
    color: #fff;

    > strong {
      font-weight: 900;
    }
  }

  &__intro-subtext {
    font-weight: 400;
    text-transform: normal;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 45px;
    box-sizing: border-box;
    color: #fff;
    opacity: 0.8;
  }

  &__logo {
    width: 70%;
    margin-bottom: 30px;
  }

  &__buttons {
    float: left;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;

    .btn:first-child {
      margin-right: 10px;
    }
  }
}
