.hero-container {
  @include clearfix;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;

  &__intro {
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.8px;
    line-height: 45px;
    max-width: 760px;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }

  &__logo {
    width: 70%;
    margin-bottom: 30px;
  }

  &__buttons {
    float: left;
    width: 100%;
    margin-top: 70px;

    .btn:first-child {
      margin-right: 10px;
    }
  }
}
