.page-intro {
  background: #36de97;
  background-image: linear-gradient(130deg, #00a7c1 0%, #25dcad 100%);
  color: #fff;

  @include large-up {
    .intro-card {
      position: absolute;
      top: 20px;
      left: 10px;
    }
  }

  &__container {
    @include centered-container;
    @include padding(60px null);
    position: relative;
  }

  @include large-up {
    &__container {
      display: flex;
    }
  }

  &__arrow {
    margin: 0 14px;
  }

  &__heading {
    display: flex;
    align-items: center;
    font-size: 27px;
    text-shadow: 0 1px 2px rgba(20, 120, 102, 0.27);
    font-weight: bold;
    text-transform: uppercase;

    @include large-up {
      float: left;
    }

    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid #fff;

      &:hover {
        border-color: $bright-green;
      }
    }
  }


  @include large-up {
    &__left {
      display: flex;
      flex-direction: column;
      margin-left: $intro-card-width + 30px;
    }
  }

  &__toc {
    font-size: 18px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.39);

    padding: 20px 0;

    @include medium-up {
      padding: 10px 75px 30px 0;

      &--wide {
        column-count: 2;
        break-inside: avoid;
      }
    }
  }

  &__toc-link {
    color: $white;
    display: block;
    padding: 3px 0;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
    padding-left: 20px;
    max-width: 350px;
    break-inside: avoid;

    &:hover {
      color: $white;
      text-decoration: underline;
    }

    &:before {
      content: "#";
      position: absolute;
      display: block;
      float: left;
      top: 3px;
      z-index: 1000;
      transform: translateX(-100%);
      margin-left: -4px;
      opacity: 0.6;
    }
  }
}
