.text-container {
  @include centered-container;
  margin: 30px auto;
  max-width: 40em;
  color: $dark-navy;
  padding-bottom: 40px;
  word-wrap: break-word;
  font-size: 12px;

  @include medium-up {
    font-size: 14px;
  }

  @include large-up {
    font-size: 16px;
    @include centered-container;

    &--with-table-of-contents {
      padding-left: $intro-card-width + 60px;
    }
  }

  #next-page-link {
    margin: 15px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 60px 0 24px 0;

    &:first-child {
      margin-top: 44px;
    }
  }

  p {
    margin: 0 0 28px 0;
  }

  h1,
  h2 {
    color: #14a98f;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  ul {
    list-style-type: disc;
    margin: 24px 12px 12px 24px;

    li {
      margin-bottom: 6px;
    }

    ul {
      margin-top: 12px;
    }
  }

  code {
    font-family: Menlo, Roboto Mono, Courier New, monospace;
    border-radius: 4px;
    padding: 2px 4px;
  }

  code:not(.hljs) {
    background: #fff;
    color: #16417c;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  }

  blockquote code:not(.hljs) {
    background-color: $lighter-gray;
  }

  pre,
  blockquote {
    background: #ffffff;
    border-radius: 4px;
    margin: 30px -16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  pre {
    background: #2E3440;

    > code {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  blockquote {
    border-left: 2px solid $medium-green;
    color: $medium-gray;

    > p {
      padding: 10px;
      margin: 0;
    }
  }
}
