.text-container {
  @include centered-container;
  margin: 30px auto;
  color: $dark-navy;
  font-size: 18px;
  padding-bottom: 40px;

  &--with-table-of-contents {
    padding-right: $intro-card-width + 60px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 60px 0 24px 0;

    &:first-child {
      margin-top: 44px;
    }
  }

  p {
    margin: 0 0 28px 0;
  }

  h1, h2 {
    color: #14A98F;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  ul {
    list-style-type: disc;
    margin: 24px 12px 12px 24px;

    li {
      margin-bottom: 6px;
    }
  }

  code {
    font-size: 16px;
    font-family: Menlo, Roboto Mono, Courier New, monospace;
    background: #fff;
    border-radius: 4px;
    padding: 2px 4px;
    color: $dark-navy;
  }

  blockquote code {
    background-color: $lighter-gray;
  }

  pre, blockquote {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px 10px 10px 16px;
    margin: 30px 0 30px -16px;
  }

  blockquote {
    border-left: 2px solid $medium-green;
    color: $medium-gray;

    > p {
      padding: 10px;
      margin: 0;
    }
  }
}
