@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";
@import "mixins/media-queries";
@import "variables/colors";
@import "variables/sizing";
@import "sign-up";
@import "btn";
@import "main-header";
@import "hero-container";
@import "helpers";

body {
  background-color: $dark-navy;
  color: $light-gray;
  font-family: 'Lato', sans-serif;
  border-top: 3px solid $bright-green;
}
