@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";
@import "variables/colors";
@import "variables/sizing";
@import "sign-up";
@import "btn";

body {
  background-color: $dark-navy;
  color: $light-gray;
  font-family: 'Lato', sans-serif;
  border-top: 3px solid $bright-green;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  margin-top: 150px;
  text-align: center;
}

.lucky-logo {
  width: 100%
}

.hero-tagline {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}
