@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";
@import "mixins/media-queries";
@import "mixins/centered-container";
@import "variables/colors";
@import "variables/sizing";
@import "sign-up";
@import "btn";
@import "main-header";
@import "header";
@import "header-nav";
@import "algolia-docsearch";
@import "page-intro";
@import "intro-card";
@import "hero-container";
@import "dark-body";
@import "text-container";
@import "syntax-colors";
@import "helpers";

body {
  font-family: "Lato", sans-serif;
}

.light-body {
  background: #f4f7f6;
}
