<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lucky</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="dark-body">
    <main role="main">
      <%= partial "partials/header" %>
      <%= yield %>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
