<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lucky Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <main role="main">
      <header class="main-header">
        <a href="https://thoughtbot.com" class="main-header__item">
          <img src="assets/images/ralph-circle.svg">
          <span class="h-medium-up">built at thoughtbot</span>
          <span class="h-mobile-only">by thoughtbot</span>
        </a>
        <a href="https://github.com/luckyframework/web" class="main-header__item main-header__item--right">
          <span class="h-medium-up">view code on GitHub</span>
          <span class="h-mobile-only">GitHub</span>
          <img src="assets/images/github-octocat-circle.svg">
        </a>
      </header>

      <%= yield %>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
