<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lucky Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag "main" %>
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body class="light-body">
    <main role="main">
      <header class="header">
        <div class="header__container">
          <a href="/">
            <%= image_tag "logo.svg", class: "header__logo" %>
          </a>

          <ul class="header-nav">
            <li>
              <a href="#">Why Lucky?</a>
            </li>
            <li>
              <a href="/guides/index.html">Guides</a>
            </li>
            <li>
              <a href="#">GitHub</a>
            </li>
          </ul>
        </div>
      </header>

      <section class="text-container">
        <%= yield %>
      </section>
    </main>
    <%= partial "partials/analytics" %>
  </body>
</html>
