<%= table_of_contents(current_page) %>

<% if next_guide_page %>
  <ul>
    <li>
      <a href="/<%= next_guide_page.path %>" class="intro-card__link intro-card__link--prominent">
        Next: <%= next_guide_page.data.title %>
      </a>
    </li>
  </ul>
<% end %>
