<h2 class="intro-card__heading">
  All Guides
</h2>

<ul>
  <% guides_pages.each do |guide_page| %>
    <li>
      <a href="/<%= guide_page.path.gsub(".html", "") %>" class="intro-card__link <%= nav_active(guide_page.path) %>">
        <%= guide_page.data.title %>
      </a>
    </li>
  <% end %>
</ul>
