<header class="header">
  <div class="header__container">
    <a href="/">
      <%= image_tag "logo.png", class: "header__logo" %>
    </a>

    <ul class="header-nav">
      <li>
        <a href="/why-lucky">Why Lucky?</a>
      </li>
      <li>
        <a href="https://gitter.im/luckyframework/Lobby">Chat</a>
      </li>
      <li>
        <a href="/guides">Guides</a>
      </li>
      <li>
        <a href="https://github.com/luckyframework/web">GitHub</a>
      </li>
      <li>
        <input type="text" class="algolia-docsearch" placeholder="Search...">
      </li>
    </ul>
  </div>
</header>
