<section class="page-intro">
  <div class="page-intro__container">
    <div class="page-intro__left">
      <h1 class="page-intro__heading">
        <%= heading %>
      </h1>

      <p class="page-intro__text">
        <%= text %>
      </p>
    </div>

    <div class="intro-card">
      <%= card %>
    </div>
  </div>
</section>
