<section class="page-intro">
  <div class="page-intro__container">
    <div class="page-intro__left">
      <h1 class="page-intro__heading">
        <%= heading %>
      </h1>

      <ul class="page-intro__toc <% if heading_nodes(current_page).size > 6 %>page-intro__toc--wide<% end %>">
        <% heading_nodes(current_page).each do |heading| %>
          <li>
            <%= content_tag :a,
              heading.text,
              href: "#" + heading[:id],
              class: "page-intro__toc-link" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="intro-card">
      <%= card %>
    </div>
  </div>
</section>
