<div class="hero-container">
  <%# <img
    src="/assets/images/logo.png"
    alt="Lucky Framework Logo",
    class="hero-container__logo"> %>

  <h1 class="hero-container__intro">
    <strong>Build stunning web applications</strong><br>
    in less time
  </h1>

  <h2 class="hero-container__intro-subtext">
    A Crystal web framework that catches bugs for you, runs
    incredibly fast, and helps you write code that lasts.
  </h2>

  <div class="hero-container__buttons">
    <a href="/why-lucky" class="btn btn--blue">Why Lucky?</a>
    <a href="/guides/installing" class="btn">Get Started</a>
  </div>
</div>
