<div class="hero-container">
  <img
    src="/assets/images/logo.png"
    alt="Lucky Framework Logo",
    class="hero-container__logo">

  <h1 class="hero-container__intro">
    Lucky is a web framework written in Crystal that helps you build apps quickly, catches bugs for
    you, and runs unbelievably fast.
  </h1>

  <div class="hero-container__buttons">
    <a href="/why-lucky" class="btn btn--blue">Why Lucky?</a>
    <a href="/guides/overview" class="btn">Get Started</a>
  </div>
</div>
